*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    overflow-x: hidden;
}

footer{
    background-color: #0F172A;
    color: white;
    padding: 30px 60px;
}

.footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo h2{
    font-size: 28px;
    font-weight: bold;
}

.social-icons{
    display: flex;
    gap: 18px;
}

.social-icons a{
    color: white;
    font-size: 22px;
    transition: 0.3s;
}

.social-icons a:hover{
    color: #60A5FA;
}

footer hr{
    border: none;
    border-top: 1px solid #334155;
    margin: 25px 0;
}

.footer-bottom{
    text-align: center;
}

.footer-bottom p{
    color: #CBD5E1;
    font-size: 15px;
}